USE [master]
GO
/****** Object:  Database [Mundialito]    Script Date: 12/24/2025 9:48:11 AM ******/
CREATE DATABASE [Mundialito]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Mundialito', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\Mundialito.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Mundialito_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\Mundialito_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Mundialito].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Mundialito]
GO
/****** Object:  Table [dbo].[Games]    Script Date: 12/24/2025 9:48:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Games](
	[GameId] [nvarchar](50) NOT NULL,
	[MundialitoId] [int] NOT NULL,
	[TeamAId] [int] NOT NULL,
	[TeamBId] [int] NOT NULL,
	[GoalsA] [int] NOT NULL,
	[GoalsB] [int] NOT NULL,
 CONSTRAINT [PK_Games] PRIMARY KEY CLUSTERED 
(
	[GameId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Mundialitos]    Script Date: 12/24/2025 9:48:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Mundialitos](
	[MundialitoId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Date] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[MundialitoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PlayerAwards]    Script Date: 12/24/2025 9:48:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PlayerAwards](
	[PlayerID] [int] NOT NULL,
	[MundialitoId] [int] NOT NULL,
	[IsMVP] [bit] NULL,
	[IsGoldenBoot] [bit] NULL,
	[IsPlaymaker] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[PlayerID] ASC,
	[MundialitoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PlayerGameStats]    Script Date: 12/24/2025 9:48:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PlayerGameStats](
	[GameId] [nvarchar](50) NOT NULL,
	[PlayerId] [int] NOT NULL,
	[TeamId] [int] NOT NULL,
	[OppTeamId] [int] NOT NULL,
	[WL] [varchar](1) NOT NULL,
	[Goals] [int] NOT NULL,
	[Assists] [int] NOT NULL,
	[GoalsConceded] [int] NOT NULL,
	[MundialitoId] [int] NOT NULL,
 CONSTRAINT [PK_PlayerGameStats] PRIMARY KEY CLUSTERED 
(
	[GameId] ASC,
	[PlayerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Players]    Script Date: 12/24/2025 9:48:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Players](
	[PlayerId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PlayerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PlayerTournamentStats]    Script Date: 12/24/2025 9:48:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PlayerTournamentStats](
	[PlayerId] [int] NOT NULL,
	[MundialitoId] [int] NOT NULL,
	[TeamId] [int] NOT NULL,
	[GamesPlayed] [int] NOT NULL,
	[GamesWon] [int] NOT NULL,
	[GamesLost] [int] NOT NULL,
	[Goals] [int] NOT NULL,
	[Assists] [int] NOT NULL,
	[CleanSheets] [int] NULL,
	[GoalsConceded] [int] NULL,
	[GamesDrawn] [int] NOT NULL,
 CONSTRAINT [PK_PlayerTournamentStats] PRIMARY KEY CLUSTERED 
(
	[PlayerId] ASC,
	[MundialitoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Teams]    Script Date: 12/24/2025 9:48:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Teams](
	[TeamId] [int] IDENTITY(1,1) NOT NULL,
	[MundialitoId] [int] NOT NULL,
	[TeamName] [nvarchar](100) NOT NULL,
	[TeamAbbr] [nvarchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TeamId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Teams_Mundialito_Abbr] UNIQUE NONCLUSTERED 
(
	[MundialitoId] ASC,
	[TeamAbbr] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Teams_Mundialito_TeamName] UNIQUE NONCLUSTERED 
(
	[MundialitoId] ASC,
	[TeamName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TeamTournamentStats]    Script Date: 12/24/2025 9:48:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TeamTournamentStats](
	[TeamId] [int] NOT NULL,
	[MundialitoId] [int] NOT NULL,
	[GamesPlayed] [int] NOT NULL,
	[GamesWon] [int] NOT NULL,
	[GamesLost] [int] NOT NULL,
	[Goals] [int] NOT NULL,
	[GoalsConceded] [int] NULL,
	[CleanSheets] [int] NULL,
	[IsChampion] [bit] NOT NULL,
	[Assists] [int] NULL,
	[GamesDrawn] [int] NULL,
 CONSTRAINT [PK_TeamTournamentStats] PRIMARY KEY CLUSTERED 
(
	[TeamId] ASC,
	[MundialitoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PlayerAwards] ADD  DEFAULT ((0)) FOR [IsMVP]
GO
ALTER TABLE [dbo].[PlayerAwards] ADD  DEFAULT ((0)) FOR [IsGoldenBoot]
GO
ALTER TABLE [dbo].[PlayerAwards] ADD  DEFAULT ((0)) FOR [IsPlaymaker]
GO
ALTER TABLE [dbo].[PlayerTournamentStats] ADD  DEFAULT ((0)) FOR [GamesPlayed]
GO
ALTER TABLE [dbo].[PlayerTournamentStats] ADD  DEFAULT ((0)) FOR [GamesWon]
GO
ALTER TABLE [dbo].[PlayerTournamentStats] ADD  DEFAULT ((0)) FOR [GamesLost]
GO
ALTER TABLE [dbo].[PlayerTournamentStats] ADD  DEFAULT ((0)) FOR [Goals]
GO
ALTER TABLE [dbo].[PlayerTournamentStats] ADD  DEFAULT ((0)) FOR [Assists]
GO
ALTER TABLE [dbo].[PlayerTournamentStats] ADD  DEFAULT ((0)) FOR [GamesDrawn]
GO
ALTER TABLE [dbo].[TeamTournamentStats] ADD  DEFAULT ((0)) FOR [GamesPlayed]
GO
ALTER TABLE [dbo].[TeamTournamentStats] ADD  DEFAULT ((0)) FOR [GamesWon]
GO
ALTER TABLE [dbo].[TeamTournamentStats] ADD  DEFAULT ((0)) FOR [GamesLost]
GO
ALTER TABLE [dbo].[TeamTournamentStats] ADD  DEFAULT ((0)) FOR [Goals]
GO
ALTER TABLE [dbo].[TeamTournamentStats] ADD  DEFAULT ((0)) FOR [GoalsConceded]
GO
ALTER TABLE [dbo].[TeamTournamentStats] ADD  DEFAULT ((0)) FOR [CleanSheets]
GO
ALTER TABLE [dbo].[TeamTournamentStats] ADD  DEFAULT ((0)) FOR [IsChampion]
GO
ALTER TABLE [dbo].[Games]  WITH CHECK ADD  CONSTRAINT [FK_Games_Mundialitos] FOREIGN KEY([MundialitoId])
REFERENCES [dbo].[Mundialitos] ([MundialitoId])
GO
ALTER TABLE [dbo].[Games] CHECK CONSTRAINT [FK_Games_Mundialitos]
GO
ALTER TABLE [dbo].[Games]  WITH CHECK ADD  CONSTRAINT [FK_Games_TeamA] FOREIGN KEY([TeamAId])
REFERENCES [dbo].[Teams] ([TeamId])
GO
ALTER TABLE [dbo].[Games] CHECK CONSTRAINT [FK_Games_TeamA]
GO
ALTER TABLE [dbo].[Games]  WITH CHECK ADD  CONSTRAINT [FK_Games_TeamB] FOREIGN KEY([TeamBId])
REFERENCES [dbo].[Teams] ([TeamId])
GO
ALTER TABLE [dbo].[Games] CHECK CONSTRAINT [FK_Games_TeamB]
GO
ALTER TABLE [dbo].[PlayerAwards]  WITH CHECK ADD FOREIGN KEY([MundialitoId])
REFERENCES [dbo].[Mundialitos] ([MundialitoId])
GO
ALTER TABLE [dbo].[PlayerAwards]  WITH CHECK ADD FOREIGN KEY([PlayerID])
REFERENCES [dbo].[Players] ([PlayerId])
GO
ALTER TABLE [dbo].[PlayerGameStats]  WITH CHECK ADD  CONSTRAINT [FK_PGS_Games] FOREIGN KEY([GameId])
REFERENCES [dbo].[Games] ([GameId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PlayerGameStats] CHECK CONSTRAINT [FK_PGS_Games]
GO
ALTER TABLE [dbo].[PlayerGameStats]  WITH CHECK ADD  CONSTRAINT [FK_PGS_Mundialitos] FOREIGN KEY([MundialitoId])
REFERENCES [dbo].[Mundialitos] ([MundialitoId])
GO
ALTER TABLE [dbo].[PlayerGameStats] CHECK CONSTRAINT [FK_PGS_Mundialitos]
GO
ALTER TABLE [dbo].[PlayerGameStats]  WITH CHECK ADD  CONSTRAINT [FK_PGS_OppTeam] FOREIGN KEY([OppTeamId])
REFERENCES [dbo].[Teams] ([TeamId])
GO
ALTER TABLE [dbo].[PlayerGameStats] CHECK CONSTRAINT [FK_PGS_OppTeam]
GO
ALTER TABLE [dbo].[PlayerGameStats]  WITH CHECK ADD  CONSTRAINT [FK_PGS_Player] FOREIGN KEY([PlayerId])
REFERENCES [dbo].[Players] ([PlayerId])
GO
ALTER TABLE [dbo].[PlayerGameStats] CHECK CONSTRAINT [FK_PGS_Player]
GO
ALTER TABLE [dbo].[PlayerGameStats]  WITH CHECK ADD  CONSTRAINT [FK_PGS_Team] FOREIGN KEY([TeamId])
REFERENCES [dbo].[Teams] ([TeamId])
GO
ALTER TABLE [dbo].[PlayerGameStats] CHECK CONSTRAINT [FK_PGS_Team]
GO
ALTER TABLE [dbo].[PlayerTournamentStats]  WITH CHECK ADD  CONSTRAINT [FK_PTS_Mundialitos] FOREIGN KEY([MundialitoId])
REFERENCES [dbo].[Mundialitos] ([MundialitoId])
GO
ALTER TABLE [dbo].[PlayerTournamentStats] CHECK CONSTRAINT [FK_PTS_Mundialitos]
GO
ALTER TABLE [dbo].[PlayerTournamentStats]  WITH CHECK ADD  CONSTRAINT [FK_PTS_Players] FOREIGN KEY([PlayerId])
REFERENCES [dbo].[Players] ([PlayerId])
GO
ALTER TABLE [dbo].[PlayerTournamentStats] CHECK CONSTRAINT [FK_PTS_Players]
GO
ALTER TABLE [dbo].[PlayerTournamentStats]  WITH CHECK ADD  CONSTRAINT [FK_PTS_Teams] FOREIGN KEY([TeamId])
REFERENCES [dbo].[Teams] ([TeamId])
GO
ALTER TABLE [dbo].[PlayerTournamentStats] CHECK CONSTRAINT [FK_PTS_Teams]
GO
ALTER TABLE [dbo].[Teams]  WITH CHECK ADD  CONSTRAINT [FK_Teams_Mundialitos] FOREIGN KEY([MundialitoId])
REFERENCES [dbo].[Mundialitos] ([MundialitoId])
GO
ALTER TABLE [dbo].[Teams] CHECK CONSTRAINT [FK_Teams_Mundialitos]
GO
ALTER TABLE [dbo].[TeamTournamentStats]  WITH CHECK ADD  CONSTRAINT [FK_TTS_Mundialitos] FOREIGN KEY([MundialitoId])
REFERENCES [dbo].[Mundialitos] ([MundialitoId])
GO
ALTER TABLE [dbo].[TeamTournamentStats] CHECK CONSTRAINT [FK_TTS_Mundialitos]
GO
ALTER TABLE [dbo].[TeamTournamentStats]  WITH CHECK ADD  CONSTRAINT [FK_TTS_Teams] FOREIGN KEY([TeamId])
REFERENCES [dbo].[Teams] ([TeamId])
GO
ALTER TABLE [dbo].[TeamTournamentStats] CHECK CONSTRAINT [FK_TTS_Teams]
GO
USE [master]
GO
